html {
  height: 100%;
  
}

body {
  background: url('http://fc00.deviantart.net/fs70/i/2010/070/2/6/Spitfire_by_Baddog2k7.jpg') no-repeat center center fixed;
  height: 100%;
  margin: 0;
  padding: 0;
}

#log {
  background: rgba(230,230,230,0.5);
  color: #333333;
  width: 80%;
  height:500px;
  margin: auto;
  padding-top:50px;
}