#messenger {
  width:100%;
}

#messenger .input {
  width:100%;
}

#messenger #history,
#messenger #players {
  width:100%;

  color:#FFF;
  margin-bottom:5px;
  padding: 10px;
  background: rgba(30,30,30, 0.75);
  border-radius:10px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

#messenger #history {
  height:400px;
  overflow:scroll;
}

#messenger input {
  width:100%;
}

#messenger .line {
  height:1px;
  border:1px solid #000;
}

.player {
  height:24px;
  line-height: 22px;
}
.player-score {
  float:right;
}

.player-name {
  float:left;
}

.player-health-wrapper {
  margin-left:10px;
  margin-right: 10px;
  width:52px;
  height:22px;
  padding:1px;
  background-color: #000000;
  display: inline-block;
}